<a href="https://colab.research.google.com/github/lgagne413/cle_guard/blob/main/de_work_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Welcome!

Congratulations and thank you for making it this far in the interview process!

As it should have been described to you, the following challenge is designed to reflect a real-world backend data Guardians' project.

To get started run the code cell below.

In [1]:
!wget -q https://github.com/cle-guardians-de/data-work-sample/raw/main/bball-sqlite.zip -O /content/bball-sqlite.zip
!unzip -o /content/bball-sqlite.zip
!wget -q https://github.com/cle-guardians-de/data-work-sample/raw/main/example_play.json -O /content/example_play.json

import pandas as pd
import sqlite3
import json

cnxn = sqlite3.connect('bball-sqlite.db')
cursor = cnxn.cursor()

print("Tables available are...")
query = "SELECT name FROM sqlite_master WHERE type='table';"
df = pd.read_sql_query(query, cnxn)
print(df.head(20))

Archive:  /content/bball-sqlite.zip
  inflating: bball-sqlite.db
Tables available are...
       name
0   Batting
1  Pitching
2      Team
3    Player

In [13]:
query = "SELECT * FROM sqlite_master ;"
df = pd.read_sql_query(query, cnxn)
print(df.head(20))

    type        name  tbl_name  rootpage  \
0  table     Batting   Batting         2
1  table    Pitching  Pitching      3687
2  table        Team      Team      7814
3  index     teamscx      Team      9371
4  index  pitchingcx  Pitching      9487
5  index   battingcx   Batting     10108
6  table      Player    Player      7813
7  index    playercx    Player      8792

                                                 sql
0  CREATE TABLE Batting(\n\tplayer_id INT NOT NUL...
1  CREATE TABLE Pitching(\n\tplayer_id INT NOT NU...
2  CREATE TABLE Team(\n\tseasonRaw VARCHAR(8) NOT...
3  CREATE UNIQUE INDEX teamscx ON Team (season, t...
4  CREATE UNIQUE INDEX pitchingcx ON Pitching (pl...
5  CREATE UNIQUE INDEX battingcx ON Batting (play...
6  CREATE TABLE Player (player_id INT NOT NULL, n...
7  CREATE UNIQUE INDEX playercx ON Player (player...

***The cell above should of downloaded needed files and resulted in final output displaying 4 tables from a sqlite database.  Batting, Pitching, Teams, and Players.  Please answer the following question 3 questions to the best of your ability.***

**1)** Analyst would like to see Shane Bieber's (Cleveland Player, player id=669456) earned run avg (ERA) for major league for each regular season. Along with that in the same result set they would like to see the difference between the previous seasons ERA to gauge how he's trending. Result set should be player, season, era, previous era, difference between previous year era, earned runs, and outs.  Any value that's represented as era should be in 3 decimal point precision.Pitching er=earned runs https://www.mlb.com/glossary/standard-stats/earned-run-average

In [19]:
query = """select * from Pitching where player_id = 669456 order by seasonRaw"""
df = pd.read_sql(query, cnxn)
print(df.columns)
query = """select * from Player where player_id = 669456"""
df = pd.read_sql(query, cnxn)
print(df.columns)
query = """select * from Batting where player_id = 669456"""
df = pd.read_sql(query, cnxn)
print(df.columns)
query = """select * from Team """
df = pd.read_sql(query, cnxn)
print(df.columns)

Index(['player_id', 'player', 'team_id', 'seasonRaw', 'season', 'game_type',
       'organization_id', 'w', 'l', 'g', 'gs', 'qs', 'cg', 'gf', 'sho', 'sv',
       'svo', 'outs', 'h', 'ab', 'pa', 'r', 'er', 'd', 't', 'hr', 'sac', 'sf',
       'hb', 'bb', 'ibb', 'so', 'wp', 'bk', 'no_hitter', 'one_hitter',
       'two_hitter', 'three_hitter', 'combo_shutout', 'sb', 'cs', 'ci', 'go',
       'ao', 'gidp', 'np', 's', 'hld', 'ir', 'irs', 'bq', 'bqs', 'rs',
       'first_date', 'last_date'],
      dtype='object')
Index(['player_id', 'name_last', 'name_first', 'name_middle', 'name_use',
       'name_matrilineal', 'gender', 'birth_date', 'birth_city', 'birth_state',
       'birth_country', 'death_year', 'death_month', 'death_day', 'death_date',
       'death_city', 'death_state', 'death_country', 'high_school', 'college',
       'height_feet', 'height_inches', 'weight', 'throws', 'bats',
       'pro_debut_year', 'pro_debut_month', 'pro_debut_day', 'pro_debut_date',
       'primary_sport_code', 'primary_position', 'active_sw', 'verified_sw',
       'player_sw', 'ebis_id'],
      dtype='object')
Index(['player_id', 'player', 'team_id', 'seasonRaw', 'season', 'game_type',
       'organization_id', 'tpa', 'g', 'ab', 'r', 'h', 'tb', 'd', 't', 'hr',
       'rbi', 'b_sac', 'sf', 'hbp', 'bb', 'ibb', 'so', 'sb', 'cs', 'gidp',
       'ci', 'go', 'ao', 'primary_position', 'first_date', 'last_date'],
      dtype='object')
Index(['seasonRaw', 'season', 'team_id', 'team_code', 'file_code',
       'franchise_code', 'bis_team_code', 'name', 'name_short', 'name_abbrev',
       'name_display_brief', 'name_display_short', 'name_display_full',
       'name_display_long', 'sport_code', 'sport_code_display',
       'sport_code_name', 'league_id', 'league', 'division_id', 'division',
       'mlb_org_id', 'mlb_org_abbrev', 'mlb_org_brief', 'mlb_org_short',
       'mlb_org', 'venue_id', 'venue_name', 'time_zone', 'time_zone_num',
       'time_zone_text', 'time_zone_generic', 'city', 'state', 'website_url',
       'first_year_of_play', 'last_year_of_play', 'all_star_sw', 'active_sw',
       'home_opener', 'home_opener_time'],
      dtype='object')

In [15]:
query = """select * from Pitching where player_id = 669456"""
df = pd.read_sql(query, cnxn)
print(df.head(100))

    player_id         player  team_id seasonRaw  season game_type  \
0      669456  Bieber, Shane      114      2018    2018         R
1      669456  Bieber, Shane      114      2019    2019         R
2      669456  Bieber, Shane      114      2019    2019         S
3      669456  Bieber, Shane      114      2020    2020         F
4      669456  Bieber, Shane      114      2020    2020         R
5      669456  Bieber, Shane      114      2020    2020         S
6      669456  Bieber, Shane      114      2021    2021         R
7      669456  Bieber, Shane      114      2021    2021         S
8      669456  Bieber, Shane      159      2019    2019         A
9      669456  Bieber, Shane      402      2017    2017         R
10     669456  Bieber, Shane      402      2018    2018         R
11     669456  Bieber, Shane      402      2021    2021         R
12     669456  Bieber, Shane      437      2017    2017         R
13     669456  Bieber, Shane      445      2018    2018         R
14     669456  Bieber, Shane      445      2021    2021         R
15     669456  Bieber, Shane      481      2017    2017         R
16     669456  Bieber, Shane      545      2016    2016         R

    organization_id   w  l   g  ...    np     s  hld  ir  irs  bq  bqs   rs  \
0               114  11  5  20  ...  1805  1215    0   0    0  15    4   87
1               114  15  8  34  ...  3332  2208    0   0    0  22   10  120
2               114   2  2   6  ...   167   147    0   0    0   0    0    8
3               114   0  1   1  ...   105    62    0   0    0   0    0    2
4               114   8  1  12  ...  1238   785    0   0    0   1    0   32
5               114   1  0   3  ...    49    44    0   0    0   0    0    7
6               114   7  4  16  ...  1559  1017    0   0    0   8    1   42
7               114   2  2   5  ...     0     0    0   0    0   4    1   12
8               114   0  0   1  ...    19    11    1   0    0   0    0    1
9               114   2  1   9  ...   784   548    0   0    0   7    2   40
10              114   3  0   5  ...   386   293    0   0    0   0    0   20
11              114   0  0   1  ...    57    38    0   0    0   0    0    0
12              114   2  3   5  ...   389   284    0   0    0   3    3    8
13              114   3  1   8  ...   691   481    0   0    0   1    1   23
14              114   0  0   1  ...    47    30    0   0    0   1    0    0
15              114   6  1  14  ...  1036   739    0   0    0   9    3   51
16              114   0  0   9  ...   315   231    0   0    0   0    0   10

    first_date   last_date
0   2018/05/31  2018/09/26
1   2019/03/31  2019/09/25
2   2019/02/27  2019/03/24
3   2020/09/29  2020/09/29
4   2020/07/24  2020/09/23
5   2020/02/25  2020/03/06
6   2021/04/01  2021/09/30
7   2021/03/01  2021/03/27
8   2019/07/09  2019/07/09
9   2017/07/25  2017/09/04
10  2018/04/05  2018/04/28
11  2021/09/19  2021/09/19
12  2017/04/09  2017/04/30
13  2018/05/03  2018/07/19
14  2021/09/14  2021/09/14
15  2017/05/07  2017/07/18
16  2016/07/22  2016/09/02

[17 rows x 55 columns]

In [21]:
query = """select er, g, seasonRaw from Pitching where player_id = 669456"""
df = pd.read_sql(query, cnxn)
print(df.head(100))

    er   g seasonRaw
0   58  20      2018
1   78  34      2019
2    6   6      2019
3    7   1      2020
4   14  12      2020
5    0   3      2020
6   34  16      2021
7    6   5      2021
8    0   1      2019
9   14   9      2017
10   4   5      2018
11   3   1      2021
12  10   5      2017
13   9   8      2018
14   1   1      2021
15  31  14      2017
16   1   9      2016

In [2]:
print("answer 1)")
query = """select 'player, era, prevEra, diff' x"""
df = pd.read_sql(query, cnxn)
print(df.head(100))

answer 1)
                            x
0  player, era, prevEra, diff

**2)** There's a new feed of player position data... we've been sent a sample play from the league. These files consist of nested json and we'd like to consume the data to begin getting this feed incorporated into our warehouse.  First step you've been tasked with is getting the positional data into sql rows/columns.  So, create a table called MergedPositionalData that consists of.. playId, timestamp, id, typ, x, y, z.  The json files is called example_play.json.  And the positional data is nested under mergedPositionalData key.  playId is under Play.  For context... this data is the x,y,z coordinate on the field of play for players, umpires, and the ball every .033 seconds.

In [ ]:
print("starting 2)")
cnxn.execute("drop table if exists MergedPositionalData;")

**3)** With the sample data you just loaded... and given that the data spec says the capture time for every object is every 1/30th of a second.  Verify that this one plays timeseries is not missing data for any of the people it contains (people are id > 0, null id's are the ball and can be ignored).
 
Return any data frame you see fit to explain...

In [ ]:
print("answer 3)")

cursor.close()
cnxn.close()

##Bonus
The original instructions of this challenge stated the notebook must be idempotent.  There is a bug in this notebook if we were to re-run after it had already been run.  Find the bug and correct it.

**Once complete save the notebook to your github account (File->Save a copy in Github).**